[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
pandas = "==2.2.0"
nltk = "==3.8.1"
matplotlib = "==3.8.2"
scikit-learn = "==1.4.0"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
